<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.{{ user_short }}.night-shift-dashboard-notifier</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-c</string>
        <string>{{ install_dir }}/dashboard/notify-watcher.sh</string>
    </array>

    <key>WorkingDirectory</key>
    <string>{{ install_dir }}</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ user_home }}</string>
        <key>USER</key>
        <string>{{ user_name }}</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

    <key>StartInterval</key>
    <integer>60</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>{{ install_dir }}/runs/notify-watcher.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{ install_dir }}/runs/notify-watcher.stderr.log</string>
</dict>
</plist>
